*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: rgb(173, 72, 68);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    margin: 22px 0;
}

h2 {
    margin: 19px 0;
}

h3 {
    margin: 16px 0;
}

p {
    margin: 16px 0;
}

ol {
    margin: 16px 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.noscroll {
    overflow: hidden;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 5px 4px -4px rgba(170, 170, 170, 1);
    font-size: 1.5rem;
    z-index: 2;
}

.fake-nav-div {
    display: none;
}

#nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: black;
    background-color: white;
    z-index: 10;
    padding: 1rem;
}

nav ul li {
    transition: all 300ms ease;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.1rem;
    text-decoration-color: transparent;
}

nav a {
    color: inherit;
    text-decoration: none;
}

#logo {
    position: relative;
}

.logo-red-substring { 
    color: var(--red);
}

#nav-icon {
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* remove styling of button: */
    background: none;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

#nav-icon:hover {
    cursor: pointer;
}

.active {
    text-decoration-color: inherit;
}

.line {
    display: block;
    width: 36px;
    height: 4px;
    background-color: var(--red);
    transition: all 300ms ease;
}

.line.toggle-icon:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 30px;
    margin-left: 9px;
}

.line.toggle-icon:nth-of-type(2) {
    transform-origin: center;
    opacity: 0;
}

.line.toggle-icon:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 30px;
    margin-left: 9px;
}

nav > ul {
    list-style-type: none;
    transition: all 300ms ease;
    position: absolute;
    transform: translateY(-100%);
    z-index: 9;
    left: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
}

.show-nav {
    background-color: var(--red);
    color: white;
    transform: translateY(0);
}

.stretch-white-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
}

.stretch-white-logo {
    cursor: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.bg-gradient-wrapper {
    background-image: linear-gradient(white, rgb(245, 245, 245));
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#main-img {
    width: 50%;
    order: 2;
}

#main-info {
    width: auto;
    order: 1;
    text-align: center;
}

#buy-now-button {
    background-color: green;
    border: none;
    color: white;
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: bold;
}

#stand-out {
    /* MAX OF:  (padding + font-size + padding + offset),  (padding + hamburger height + padding + offset) */
    scroll-margin-top: max(calc(1rem + 1.5rem + 1rem + 10px), calc(1rem + 36px + 1rem + 10px));
    padding-bottom: 19px;
    text-align: center;
}

#stand-out h2::after {
    content: "";
    display: block;
    width: 5rem;
    height: 0.5rem;
    margin: 0 auto;
    border-bottom: 0.1rem solid black;
}

#stand-out .section-content {
    display: grid;
    grid-template-columns: 80%;
    justify-content: space-evenly;
    grid-template-rows: repeat(3, auto 230px);
    gap: 1rem;
}

.stand-out-item:nth-child(1),
.stand-out-item:nth-child(3),
.stand-out-item:nth-child(5) {
    margin-top: 1rem;
}

.stand-out-item h3::after {
    content: "";
    display: block;
    width: 5rem;
    height: 0.5rem;
    margin: 0 auto;
    border-bottom: 0.1rem solid black;
}

.stand-out-item ol {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.numberCircle {
    width: 4ch;
    aspect-ratio: 1 / 1;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.stand-out-underline {
    display: none;
}

#ingredients {
    /* MAX OF:  (padding + font-size + padding),  (padding + hamburger height + padding) */
    scroll-margin-top: max(calc(1rem + 1.5rem + 1rem + 10px), calc(1rem + 36px + 1rem + 10px));
    text-align: center;
}

#ingredients h2::after {
    content: "";
    display: block;
    width: 5rem;
    height: 0.5rem;
    margin: 0 auto;
    border-bottom: 0.1rem solid black;
}

#ingredients .section-content {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
}

.ingredients-item h4 {
    transition: all 300ms ease;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-thickness: 0.1rem;
    text-decoration-color: transparent;
}

.ingredients-img {
    grid-row-start: 7;
    display: flex;
    flex-direction: column;
}

.ingredients-img img {
    align-self: center;
    max-height: 600px;
}

.dot {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    background-color: lightgray;
    border-radius: 50%;
    margin: 16px 0;
}

#buy-now-button2 {
    background-color: var(--red);
    border: none;
    color: white;
    padding: 1rem 2rem;
    font-weight: bold;
    cursor: pointer;
}

#ingredients-img-footer {
    max-width: 65%;
    margin: 2rem auto 0 auto;
}

.bg-one-color-wrapper {
    background-color: rgb(245, 245, 245);
}

#products {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* MAX OF:  (padding + font-size + padding + offset),  (padding + hamburger height + padding + offset) */
    scroll-margin-top: max(calc(1rem + 1.5rem + 1rem + 10px), calc(1rem + 36px + 1rem + 10px));
}

#products h2::after {
    content: "";
    display: block;
    width: 5rem;
    height: 0.5rem;
    margin: 0 auto;
    border-bottom: 0.1rem solid black;
}

#products-per-page {
    position: relative;
}

#dropdown-button-wrapper {
    border: 1px solid var(--red);
    display: flex;
    flex-direction: row;
}

#num-of-products-per-page-text {
    min-width: 15ch;
    padding: 0.5rem 1.2rem;
}

#dropdown-button {
    background-color: var(--red);
    color: white;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    font-weight: bold;
    border: none;
    transition: background-color ease 300ms;
}

#dropdown-button:hover {
    background-color: rgb(145, 35, 35);
}

#dropdown-button img {
    height: 1ch;
    margin-left: 0.5ch;
}

#dropdown-items {
    position: absolute;
    overflow: auto;
    min-width: 12ch;
    color: white;
    font-weight: bold;
    background-color: var(--red);
    text-align: center;
    right: 0;
}

#dropdown-items > div {
    cursor: pointer;
    padding: 0.3rem;
    transition: background-color ease 300ms;
}

#dropdown-items > div:hover {
    background-color: rgb(145, 35, 35);
}

.hide-dropdown {
    display: none;
}

.show-dropdown {
    display: block;
}

#products .section-content {
    width: 100%;
}

.products-wrapper {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1rem;
}

.products-wrapper .product {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / 2.9);
    aspect-ratio: 1 / 1;
    transition: background-color ease 300ms;
    background-color: rgb(190, 190, 190);
}

.products-wrapper .product:hover {
    background-color: rgb(150, 150, 150);
    cursor: pointer;
}

#products h3 {
    text-align: center;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.popup-wrapper {
    position: fixed;
    height: 0;
    width: 0;
    left: 0;
    top: 0;
    z-index: 20;
    opacity: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-active {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    opacity: 1;
    transition: opacity ease 300ms;
}

.popup-content-box {
    overflow: auto;
    position: fixed;
    top: 20%;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
    background-color: white;
    color: black; 
    padding: 1.5ch 3ch;
}

.popup-title-wrapper {
    display: flex;
    justify-content: space-between;
}

.popup-title-wrapper > h2 {
    margin: 0;
}

.popup-close {
    cursor: pointer;
}

.popup-content-wrapper {
    margin-bottom: 16px;
}

@media (max-width: 576px) {

    #main-img {
        width: 65%;
    }

    .main-header-line-break {
        display: none;
    }

    .main-line-break {
        display: none;
    }

    #stand-out .section-content {
        grid-template-rows: repeat(3, auto 180px);
    }

    #dropdown-button-wrapper {
        flex-direction: column;
    }

    #dropdown-items {
        left: 0;
    }

    .products-wrapper .product {
        flex-basis: calc(100% / 2.5);
    }

    .popup-content-box {
        width: 75%;
    }

}

@media (max-width: 349px) {

    #stand-out .section-content {
        grid-template-rows: repeat(3, auto 140px);
    }

}

@media (min-width: 768px) {

    nav {
        display: flex;
        justify-content: space-between;
        max-width: 1920px;
        margin: 0 auto;
    }

    #nav-icon {
        display: none;
    }

    nav > ul {
        position: static;
        /* left: auto;
        right: auto; */
        flex-direction: row;
        transform: translateY(0);
        padding: 0 1rem;
    }

    .fake-nav-div {
        display: block;
    }

    .body-wrapper {
        max-width: 1920px;
        margin: 0 auto;
    }

    main {
        flex-direction: row;
        gap: 0;
    }

    #main-img {
        order: 1;
    }

    #main-img img {
        display: block;
        width: 75%;
        margin-left: 15%;
    }

    #main-info {
        width: 50%;
        order: 2;
        text-align: left;
    }

    .main-line-break {
        display: none;
    }

    #stand-out {
        /* padding + font-size + padding + some offset: */
        scroll-margin-top: calc(1rem + 1.5rem + 1rem + 15px);
    }

    #stand-out .section-content {
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(2, auto);
        gap: 0;
        margin-top: 1rem;
    }

    .stand-out-item:nth-child(1),
    .stand-out-item:nth-child(3),
    .stand-out-item:nth-child(5) {
        margin-top: 0;
    }

    .stand-out-item:nth-of-type(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .stand-out-item:nth-of-type(3) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .stand-out-item:nth-of-type(5) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .stand-out-img:nth-of-type(2) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .stand-out-img:nth-of-type(4) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .stand-out-img:nth-of-type(6) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .stand-out-img img {
        max-height: 180px;
    }

    .stand-out-underline {
        display: block;
        width: 5rem;
        height: 0.5rem;
        margin: 0 auto;
        border-bottom: 0.1rem solid black;
        transition: all 300ms ease;
        opacity: 0;
    }

    #ingredients {
        /* padding + font-size + padding + some offset: */
        scroll-margin-top: calc(1rem + 1.5rem + 1rem + 15px);
    }

    #ingredients .section-content {
        display: grid;
        grid-template-areas:
            'i1 i1 i4 i4'
            'i2 i2 i5 i5'
            'i3 i3 i6 i6'
            '. img img .';
        grid-template-columns: repeat(4, calc(100% / 8));
        justify-content: space-evenly;
    }

    #ingredients .ingredients-item:nth-child(1) {
        grid-area: i1;
    }

    #ingredients .ingredients-item:nth-child(2) {
        grid-area: i2;
    }

    #ingredients .ingredients-item:nth-child(3) {
        grid-area: i3;
    }

    #ingredients .ingredients-img:nth-child(4) {
        grid-area: img;
    }

    #ingredients .ingredients-item:nth-child(5) {
        grid-area: i4;
    }

    #ingredients .ingredients-item:nth-child(6) {
        grid-area: i5;
    }

    #ingredients .ingredients-item:nth-child(7) {
        grid-area: i6;
    }

    #products {
        /* padding + font-size + padding + some offset: */
        scroll-margin-top: calc(1rem + 1.5rem + 1rem + 10px);
    }

    .products-wrapper .product {
        flex-basis: calc(100% / 3.9);
    }

    .popup-content-box {
        width: 55%;
    }

}

@media (min-width: 1000px) {

    #stand-out .section-content {
        grid-template-columns: repeat(3, calc(100% / 4));
    }

    .stand-out-img img {
        max-height: 200px;
    }

}

@media (min-width: 1200px) {

    nav > ul {
        gap: 3rem;
    }

    .main-line-break {
        display: inline;
    }

    #stand-out {
        padding-bottom: 24px;
    }

    #ingredients .section-content {
        grid-template-areas:
            'i1 img i4'
            'i2 img i5'
            'i3 img i6';
        grid-template-columns: repeat(3, calc(100% / 4));
    }

    .ingredients-img {
        margin-top: 2rem;
    }

    .ingredients-img img {
        max-height: 100vh;
    }

    .products-wrapper .product {
        flex-basis: calc(100% / 4.9);
    }

    .popup-content-box {
        width: 50%;
        top: 25%;
        padding: 2ch 3ch;
    }

}

@media (min-width: 1400px) {

    main h1 {
        font-size: 3rem;
        margin: 30px 0;
    }

    main h2 {
        font-size: 2rem;
        margin: 26px 0;
    }

    main p {
        font-size: 1.3rem;
        margin: 22px 0;
    }

    #buy-now-button {
        font-size: 1.3rem;
    }

    #stand-out {
        padding-bottom: 30px;
    }

    #stand-out .section-content {
        grid-template-columns: repeat(3, calc(100% / 4.5));
    }

    .stand-out-img img {
        max-height: 250px;
    }

    .popup-content-box {
        width: min(40%, calc(1920px * 0.4));
        top: 30%;
    }

}

@media (min-width: 1900px) {

    #stand-out .section-content {
        grid-template-columns: repeat(3, calc(100% / 5));
    }

    .stand-out-img img {
        max-height: 300px;
    }

    .ingredients-img {
        margin-top: 0;
    }

}