*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: rgb(173, 72, 68);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    margin: 22px 0;
}

h2 {
    margin: 19px 0;
}

p {
    margin: 16px 0;
}

ol {
    margin: 16px 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.noscroll {
    overflow: hidden;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 5px 4px -4px rgba(170, 170, 170, 1);
    font-size: 1.5rem;
    z-index: 2;
}

.fake-nav-div {
    display: none;
}

#nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: black;
    background-color: white;
    z-index: 10;
    padding: 1rem;
}

nav a {
    color: inherit;
    text-decoration: none;
}

#logo {
    position: relative;
}

.logo-red-substring { 
    color: var(--red);
}

#nav-icon {
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* remove styling of button: */
    background: none;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

#nav-icon:hover {
    cursor: pointer;
}

.active {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.1rem;
}

.line {
    display: block;
    width: 36px;
    height: 4px;
    background-color: var(--red);
    transition: all 300ms ease;
}

.line.toggle-icon:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 30px;
    margin-left: 9px;
}

.line.toggle-icon:nth-of-type(2) {
    transform-origin: center;
    opacity: 0;
}

.line.toggle-icon:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 30px;
    margin-left: 9px;
}

nav > ul {
    list-style-type: none;
    transition: all 300ms ease;
    position: absolute;
    transform: translateY(-100%);
    z-index: 9;
    left: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
}

.show-nav {
    background-color: var(--red);
    color: white;
    transform: translateY(0);
}

.stretch-white-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
}

.stretch-white-logo {
    cursor: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.bg-gradient-wrapper {
    background-image: linear-gradient(white, rgb(245, 245, 245));
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#main-img {
    width: 50%;
    order: 2;
}

#main-info {
    width: auto;
    order: 1;
    text-align: center;
}

#buy-now-button {
    background-color: green;
    border: none;
    color: white;
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: bold;
}

#stand-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* MAX OF:  (padding + font-size + padding),  (padding + hamburger height + padding) */
    scroll-margin-top: max(calc(1rem + 1.5rem + 1rem), calc(1rem + 36px + 1rem));
    padding-bottom: 19px;
}

#stand-out h2::after {
    content: "";
    display: block;
    width: 5rem;
    height: 0.5rem;
    margin: 0 auto;
    border-bottom: 0.1rem solid black;
}

#stand-out .section-content {
    display: grid;
    grid-template-columns: 80%;
    justify-content: space-evenly;
    grid-template-rows: repeat(3, auto 230px);
    gap: 1rem;
}

.stand-out-item:nth-child(1),
.stand-out-item:nth-child(3),
.stand-out-item:nth-child(5) {
    margin-top: 1rem;
}

.stand-out-item h3::after {
    content: "";
    display: block;
    width: 5rem;
    height: 0.5rem;
    margin: 0 auto;
    border-bottom: 0.1rem solid black;
}

.stand-out-item, .stand-out-img {
    text-align: center;
}

.stand-out-item ol {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.numberCircle {
    width: 4ch;
    aspect-ratio: 1 / 1;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.stand-out-underline {
    display: none;
}

@media (max-width: 576px) {

    #main-img {
        width: 65%;
    }

    .main-header-line-break {
        display: none;
    }

    .main-line-break {
        display: none;
    }

    #stand-out .section-content {
        grid-template-rows: repeat(3, auto 180px);
    }

}

@media (max-width: 349px) {

    #stand-out .section-content {
        grid-template-rows: repeat(3, auto 140px);
    }

}

@media (min-width: 768px) {

    nav {
        display: flex;
        justify-content: space-between;
        max-width: 1920px;
        margin: 0 auto;
    }

    #nav-icon {
        display: none;
    }

    nav > ul {
        position: static;
        /* left: auto;
        right: auto; */
        flex-direction: row;
        transform: translateY(0);
        padding: 0 1rem;
    }

    .fake-nav-div {
        display: block;
    }

    .body-wrapper {
        max-width: 1920px;
        margin: 0 auto;
    }

    main {
        flex-direction: row;
        gap: 0;
    }

    #main-img {
        order: 1;
    }

    #main-img img {
        display: block;
        width: 75%;
        margin-left: 15%;
    }

    #main-info {
        width: 50%;
        order: 2;
        text-align: left;
    }

    .main-line-break {
        display: none;
    }

    #stand-out {
        /* padding + font-size + padding: */
        scroll-margin-top: calc(1rem + 1.5rem + 1rem);
    }

    #stand-out .section-content {
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(2, auto);
        gap: 0;
        margin-top: 1rem;
    }

    .stand-out-item:nth-child(1),
    .stand-out-item:nth-child(3),
    .stand-out-item:nth-child(5) {
        margin-top: 0;
    }

    .stand-out-item:nth-of-type(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .stand-out-item:nth-of-type(3) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .stand-out-item:nth-of-type(5) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .stand-out-img:nth-of-type(2) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .stand-out-img:nth-of-type(4) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .stand-out-img:nth-of-type(6) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .stand-out-img img {
        max-height: 180px;
    }

    .stand-out-underline {
        display: block;
        width: 5rem;
        height: 0.5rem;
        margin: 0 auto;
        border-bottom: 0.1rem solid black;
        transition: all 300ms ease;
        opacity: 0;
    }

}

@media (min-width: 1000px) {

    #stand-out .section-content {
        grid-template-columns: repeat(3, calc(100% / 4));
    }

    .stand-out-img img {
        max-height: 200px;
    }

}

@media (min-width: 1200px) {

    nav > ul {
        gap: 3rem;
    }

    .main-line-break {
        display: inline;
    }

}

@media (min-width: 1400px) {

    h1 {
        font-size: 3rem;
        margin: 30px 0;
    }

    h2 {
        font-size: 2rem;
        margin: 26px 0;
    }

    h3 {
        font-size: 1.6rem;
        margin: 24px 0;
    }

    p {
        font-size: 1.3rem;
        margin: 22px 0;
    }

    ol {
        font-size: 1.3rem;
        margin: 22px 0;
    }

    #buy-now-button {
        font-size: 1.3rem;
    }

    #stand-out {
        padding-bottom: 26px;
    }

    #stand-out .section-content {
        grid-template-columns: repeat(3, calc(100% / 4.5));
    }

    .stand-out-img img {
        max-height: 250px;
    }

}

@media (min-width: 1900px) {

    #stand-out .section-content {
        grid-template-columns: repeat(3, calc(100% / 5));
    }

    .stand-out-img img {
        max-height: 300px;
    }

}